.login-container{
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    position: relative;
}
.logo{
    font-size:70px;
    font-weight:bold;
    font-family :'Courier New', Courier, monospace;
    letter-spacing: 10px;
    position :absolute;
    top:50px;
    right:50px;
}
.desc{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    position: absolute;
    top:150px;
    right:50px;
    text-align: right;
    width: 800px;
}
.film{
    position: absolute;
    top : 50px;
    left : 50px;
    width: 500px;
    height: 500px;
}
.login-form{
    position: absolute;
    bottom: 50px;
    right: 200px;
    padding: 50px;
    /* box-sizing: border-box; */
    border: 1px solid black;
    background-color: thistle;
    border-radius: 10px ;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    
    .form-group{
        margin: 10px;
        label{
            font-size: 20px;
            font-weight: bold;
        }
        input{
            width: 300px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid black;
            padding: 5px;
        }
    }
    .btn-container{
        position: relative;
        .btn{
            margin: 10px;
        }
        .error{
            position: absolute;
            color: red;
            font-size: 15px;
            top:42px;
            right:0px;
        }
    }
}
