.home-container {
    display: flex;
}

.home-container .all-movies {
    width: 75%;
    min-height: calc(100vh - 80px);
    border-right: 1px solid black;
}

.home-container .all-movies .top {
    display: flex;
    background-color: rgb(158, 9, 9);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.home-container .all-movies .top h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container .all-movies .movies-thumbnail {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px 0px;
}

.home-container .all-movies .movies-thumbnail .movie .cover {
    cursor: pointer;
}

.home-container .all-movies .movies-thumbnail .movie .cover img {
    border-radius: 5px;
}

.home-container .all-movies .movies-thumbnail .movie .detail {
    width: 180px;
}

.home-container .all-movies .movies-thumbnail .movie .detail .name {
    font-weight: bold;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}

.home-container .popular-movies {
    width: 25%;
    min-height: calc(100vh - 80px);
}

.home-container .popular-movies h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container .popular-movies .movies {
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container .popular-movies .movies .name {
    font-weight: bold;
    cursor: pointer;
}

.rating {
    padding-right: 45px;
    position: relative;
}

.rating .rating-value {
    position: absolute;
    right: 0;
    top: 10px;
    font-weight: bold;
}

.view-all {
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 255, 21);
    text-decoration: underline;
}
